body {
  margin: 0;
  padding: 20px 40px; //this means 20px on top and bottom, and 40px on right and left sides
  font-family: "Leckerli One", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
